<%- include('../../views/partials/header') %>
        
    <div class="regContainer">
        <div class="regHeading">
            <h1>Edit <%= item.name %></h1>
        </div>
            <div class='registration'>
                <form action="/items/<%=item.id%>?_method=PUT" method="POST">
    		        Name: <input type="text" name="name" value="<%=item.name%>"/><br/>
    		        Type: <input type="text" name="type" value="<%=item.type%>"/><br/>
                    Desc.: <input type="text" name="description" value="<%= item.description %>"/><br/>
                    Count: <input type="number" name="count" value="<%= item.count %>"/><br/>
                    Listing: <input type="text" name="listing" value="<%= item.listing %>"/><br/>
    		        Is for sale? :
                    <input 
                        type="checkbox" 
                        name="forSale"
                            <% if(item.forSale === true){ %>
                                checked
                            <% } %>
                    /><br/>
                    <input type="submit" name="" value="Submit Changes"/>
                </form>
            </div>
        </div>
    </div>

<%- include('../../views/partials/footer') %>