<%- include('../../views/partials/header') %>

    <div class="regContainer">
        <div class="regHeading">
            <h1>Edit <%= item.name %></h1>
        </div>
            <div class='registration'>
                <form name="item-edit-form" action="/items/<%=item.id%>?_method=PUT" onSubmit="return validateForm(document.forms['item-edit-form'])" method="POST">
    		        Name: <input label="item-name" type="text" name="name" value="<%= item.name%>" required/>
                    <br/>
    		        Type: <input label="item-type" type="text" name="type" value="<%= item.type%>" required />
                    <br/>
                    Desc.: <input label="item-desc" type="text" name="description" value="<%= item.description %>"/>
                    <br/>
                    Count: <input label="item-count" type="number" name="count" value="<%= item.count %>" min="0" required />
                    <br/>
                    Listing: <input label="item-listing" type="text" name="listing" value="<%= item.listing %>"/>
                    <br/>
    		        Is for sale? :
                    <input 
                        label="item-for-sale"
                        type="checkbox" 
                        name="for-sale"
                            <% if(item.forSale === true){ %>
                                checked
                            <% } %>
                    />
                    <br/>
                    <input label="submit-changes" type="submit" name="" value="Submit Changes" />
                </form>
            </div>
        </div>
    </div>

<%- include('../../views/partials/footer') %>