<%- include('../../views/partials/header') %>
<%- include('../../views/partials/nav') %>


<h1><%= item.name %></h1>
<section id="show-page">
  <div>Item Type: <%= item.type %></div>
  <div>Description: <%= item.description %></div>
  <div>Count: <%= item.count %></div>
  <div>
    <a href="/items/<%= item._id %>/edit">Edit</a>
  </div>
</section>

<%- include('../../views/partials/footer') %>