<% console.log(item); %>
<%- include('../../views/partials/header') %>
<%- include('../../views/partials/nav') %>

  <div class="mainContainer">
    <div class='titleBar'>
      <h1><%= item ? item.name : 'Loading...' %></h1>
      <!-- <h1><%= item.name ? item.name : 'Loading...' %></h1> -->
    </div>
    <div class="showContainer">
      <div class='showList'>
        <ul>
          <li><h3>Type: </h3><p><%= item.type %></p></li>
          <li><h3>Description: </h3><p><%= item.description %></p></li>
          <li><h3>Count: </h3><p><%= item.count %></p></li>
          <li><h3>For Sale?: </h3><p>
            <% if(item.forSale === true) { %>
              Yes
            <% } else { %>
              No
            <% }; %></p>
          </li>
          <li><h3>Listing: </h3><p><a href='<%= item.listing %>'><%= item.listing %></a></p></li>
          <li><a class='editBtn' href="/items/<%= item.id %>/edit">Edit</a></li>
        </ul>
      </div>
    </div>
  </div>

<%- include('../../views/partials/footer') %>