<%- include('../../views/partials/header') %>
<%- include('../../views/partials/nav') %>

    <div class="mainContainer">
      <div class="titleBar">
        <h1><%= item.name %></h1>
      </div>
    <div class="regContainer">
      <div class='showList'>
        <ul>
          <li>Type: <%= item.type %></li>
          <li>Description: <%= item.description %></li>
          <li>Count: <%= item.count %></li>
          <li><a href="/items/<%= item._id %>/edit">Edit</a></li>
        </ul>
      </div>
    </div>
  </div>

<%- include('../../views/partials/footer') %>